/* 全局样式表 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}
.el-breadcrumb {
  margin-bottom: 15px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
  margin-top: 15px;
  font-size: 13px;
}
.operate {
  width: 30px;
  height: 30px;
}
.el-pagination {
  margin-top: 15px;
}
.el-tag {
  margin: 7px;
}
.bdtop {
  border-top: 1px solid #eee;
}
.bdbottom {
  border-bottom: 1px solid #eee;
  margin: 0 30px;
}
